body{
    background: darkgray;
    background-image: url(../public/download.png);
    padding-left: 160px;
    height: 100vh;
}

.sidenav {
    height: 100%;
    width: 140px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(38, 54, 38);
    overflow-x: hidden;
    padding-top: 20px;
}
  
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #93aa94;
    display: block;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}
  
.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}
  
.container {
    width: 100%;
    height: 100%;
    /* CSS Smooth Scroll */
    overflow-y: scroll; 
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
.lead {
    font-size: 1.5rem;
  }
.container-md {
    background: rgb(56, 64, 56, .9);
    color: rgb(194, 221, 182);
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
   
    /* Scroll Snap */
    scroll-snap-align: center;
  }